@model NOC_DKRKM.Models.Document


@{
    ViewBag.Title = "Збереження Матеріалів";
}

<h2>Дані таблиці "Матеріали" було збережено!</h2>


<div>
    @Html.ActionLink("Повернутися до списку матеріалів", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

